/* 게시판 스타일 */
#wrap {
	margin: 0 auto;
	width: 80%;
	text-align: center;
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 5px;
}

#wrap h2 {
	font-size: 30px;
	font-weight: bold;
	color: #0078b4;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #ddd;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 10px;
	text-align: center;
	border: 1px solid #ddd;
}

th {
	background-color: #f5f5f5;
}

tr:hover {
	background-color: #f2f2f2;
}

tr:nth-child(even) {
	background-color: #f9f9f9;
}

tr:nth-child(odd) {
	background-color: #fff;
}

.paging {
	margin-top: 20px;
	text-align: center;
}

.paging a, .paging b {
	display: inline-block;
	padding: 5px 10px;
	margin-right: 5px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	color: #333;
	text-decoration: none;
}

.paging a:hover {
	background-color: #0078b4;
	color: #fff;
}

.paging b {
	background-color: #0078b4;
	color: #fff;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #0078b4;
	border: none;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
}

.btn:hover {
	background-color: #005c8b;
	cursor: pointer;
}