@charset "UTF-8";

body {
	background-color: #F8F8F8;
}

h3 {
	margin: 30px 0;
	font-size: 1.5rem;
	text-align: center;
}

form {
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f1f1f1;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.text-field {
	margin-bottom: 10px;
	height: 40px;
	font-size: 1.2rem;
	padding: 0 10px;
	border: 1px solid #CCC;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #F8F8F8;
	color: #333;
	font-weight: 500;
	transition: border-color 0.3s ease-in-out;
}

.text-field:focus {
	outline: none;
	border-color: #00B4FF;
}

label {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 20px;
	font-size: 1.2rem;
}

label span {
	margin-bottom: 10px;
}

button.submit-btn {
	margin-top: 20px;
	background-color: #4CAF50;
	color: #FFF;
	font-size: 1.2rem;
	font-weight: 500;
	border: none;
	border-radius: 3px;
	height: 40px;
	padding: 0 20px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

button.submit-btn:hover {
	background-color: #4CAF50;
}