@charset "UTF-8";

table {
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: orange;
	color: white;
	padding: 8px;
	border-radius: 8px;
	text-align: center;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

th, td {
	text-align: left;
	padding: 8px;
}

td:nth-child(1) {
	width: 15%;
}
td:nth-child(2) {
	width: 45%;
}
td:nth-child(3) {
	width: 15%;
}
td:nth-child(4) {
	width: 10%;
}
td:nth-child(5) {
	width: 15%;
}

th {
	background-color: #4CAF50;
	color: white;
}

tr.even {
	background-color: #f2f2f2;
}

footer {
	margin-top: 20px;
	text-align: center;
}

.paging{
	text-align: center;
}
.paging a{
	text-decoration: none;
	color: black;
}
.paging a:hover {
	font-weight: bold;
}

td a {
	text-decoration: none;
}

.filter button {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  color: black;
  padding: 8px;
  margin: 2px;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 300px;
}

.container {
  min-height: 100vh;
  position: relative;
}

.paging {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 500px;
  text-decoration: none;
}
.paging a:hover {
	font-weight: bold;
}