@charset "UTF-8";
/* 아이디 중복확인 버튼 스타일 */
.idconfirm {
	padding: 0 15px;
	background-color: #34495e;
	color: #fff;
	border: none;
	cursor: pointer;
}

/* 중복확인 결과 메시지 스타일 */
#idConfirmMsg {
	color: red;
	font-size: 12px;
}

#content {
	width: 700px;
	height: auto;
	margin: 50px auto;
	background-color: #f1f1f1;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

#content form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#content form input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	font-size: 16px;
}

#content table {
	width: 100%;
	border-collapse: collapse;
}

#content table td {
	padding: 10px;
	text-align: left;
}

#content table td:first-child {
	width: 20%;
}

#content table td:last-child {
	width: 80%;
}

#content input[type="text"], #content input[type="password"], #content input[type="email"],
	#content input[type="date"] {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	box-sizing: border-box;
}

#content input[type="file"] {
	margin-top: 10px;
}

#content input[type="button"] {
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	font-size: 16px;
}

#content span {
	font-size: 14px;
	color: #888;
	display: block;
	margin-top: 5px;
}

#content #guide {
	color: #FF5A5A;
	display: block;
	margin-top: 5px;
	font-size: 14px;
}

input[type="text"], input[type="password"], input[type="email"] {
	padding: 5px 10px;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 14px;
	line-height: 1.5;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 10px;
}

input[type="email"]:focus {
	outline: none;
	border-color: #3498db;
	box-shadow: 0 0 10px #3498db;
}

input[type="submit"] {
	padding: 10px;
	background-color: #34495e;
	color: #fff;
	border: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
}

input[type="submit"]:hover {
	background-color: #2c3e50;
}

input[type="file"] {
	margin-bottom: 10px;
}