@charset "UTF-8";

#content {
	width: 800px;
	height: auto;
	margin: 50px auto;
	background-color: #f1f1f1;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

#content form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

#content form input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	font-size: 16px;
}

#content table {
	width: 100%;
	border-collapse: collapse;
}

#content table td {
	padding: 10px;
	text-align: left;
}

#content table td:first-child {
	width: 20%;
}

#content table td:last-child {
	width: 80%;
}

#content input[type="text"], #content input[type="password"], #content input[type="email"],
	#content input[type="date"] {
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	box-sizing: border-box;
}

#content input[type="file"] {
	margin-top: 10px;
}

#content input[type="button"] {
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	font-size: 16px;
}

#content span {
	font-size: 14px;
	color: #888;
	display: block;
	margin-top: 5px;
}

#content #guide {
	color: #FF5A5A;
	display: block;
	margin-top: 5px;
	font-size: 14px;
}

