@charset "UTF-8";

body {
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #f5f5f5;
}

#wrap {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

#content_form {
	margin: 0 auto;
	padding: 20px;
}

table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
}

th {
	width: 20%;
	padding: 10px;
	background-color: #e5e5e5;
	border: 1px solid #ddd;
}

td {
	padding: 10px;
	border: 1px solid #ddd;
}

input[type="text"], textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-sizing: border-box;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	margin-right: 10px;
	background-color: #4caf50;
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn:hover {
	background-color: #3e8e41;
}

.btn:active {
	background-color: #2c6738;
}

.btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: white;
	color: black;
	margin: 0;
	padding: 0.5rem 1rem;
	font-weight: 400;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	border: 2px solid #444444;
	display: inline-block;
	width: auto;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px
		rgba(0, 0, 0, 0.06);
	cursor: pointer;
	transition: 0.5s;
}
#editor {
    height: 1000px;
}