@charset "UTF-8";

.bookmark-list table {
	border-collapse: collapse;
	width: 60%;
}

.bookmark-list table thead tr {
	background-color: #f2f2f2;
	border-bottom: 2px solid #ddd;
	font-weight: bold;
}

.bookmark-list table tbody tr {
	border-bottom: 1px solid #ddd;
}

.bookmark-list table tbody tr:last-child {
	border-bottom: none;
}

.bookmark-list table td {
	padding: 10px;
	text-align: center;
}

.bookmark-list .bookmark-box {
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 50px;
	text-align: center;
}

.bookmark-list .bookmark-box a {
	color: #333;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

.bookmark-list .bookmark-box a:hover {
	color: #666;
}

.bookmark-box:hover {
	background-color: #EAEAEA;
	cursor: pointer;
}

h2 {
	font-family: Verdana, Geneva, Arial, sans-serif;
	color: black;
}