@charset "UTF-8";

ul, ol {
	list-style: none;
}

footer {
	float: left;
	width: 100%;
	height: 200px;
	position: absolute;
	text-align: center;
}

footer .middle {
	position: relative;
	padding: 40px 0;
	margin: 0 auto;
	max-width: 1160px;
}

footer .middle .list {
	margin-bottom: 20px;
}

footer .middle .list li {
	position: relative;
	text-align: center;
	padding-right: 12px;
	margin-right: 12px;
	color: #6b6b6b;
	display: inline;
}

footer .middle .list_addr {
	margin-bottom: 17px;
	font-size: 12px;
	color: black;
	line-height: 16px;
}

footer .middle .txt_copyright {
	margin-bottom: 17px;
	font-size: 11px;
	color: #8c8c8c;
	padding-left: 40px;
}