@charset "UTF-8";

html,
body {
	height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
}

main {
	width: 800px;
	flex: 1;
}

table {
	border-collapse: collapse;
	width: 70%;
	margin: 0 auto;
}

th,
td {
	width: auto;
	text-align: center;
	padding: 8px;
}

th {
	background-color: orange;
	color: white;
}

td a{
	color: black;
}

th:nth-child(1) {
	width: 35%;
}

th:nth-child(2) {
	width: 45%;
}

th:nth-child(3) {
	width: 20%;
}

td:nth-child(1) {
	width: 30%;
}
td:nth-child(2) {
	width: 35%;
}
td:nth-child(3) {
	width: 20%;
}
td:nth-child(4) {
	width: 15%;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

.btn-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.my-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: black;
	color: orange;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
	text-decoration: none;
	text-align: center;
}

.my-button:hover {
	background-color: #0062cc;
}

.approval-button {
	display: inline-block;
	padding: 5px 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 5px;
}

.reject-button {
	display: inline-block;
	padding: 5px 10px;
	background-color: #dc3545;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

footer {
	background-color: #f5f5f5;
	text-align: center;
	line-height: 100px;
	height: 100px;
	margin: auto;
}