@charset "UTF-8";

html,
body {
	height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 50vh;
}
h2 {
	margin-top: 20px;
	background-color: orange;
	color: white;
	padding: 8px;
	border-radius: 8px;
}
main {
	width: 900px;
	flex: 1;
	margin-top: 20px;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin: 0 auto;
}

th,
td {
	width: auto;
	text-align: center;
	padding: 8px;
}

th {
	background-color: #4CAF50;
	color: white;
}

td a{
	color: blue;
	text-decoration: none;
}

td:nth-child(1) {
	width: 25%;
}
td:nth-child(2) {
	width: 55%;
}
td:nth-child(3) {
	width: 20%;
}


tr:nth-child(even) {
	background-color: #f2f2f2;
}

.btn-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.my-button {
	display: inline-block;
	padding: 10px 20px;
	background-color: black;
	color: orange;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
	text-decoration: none;
	text-align: center;
}

.my-button:hover {
	background-color: #0062cc;
}

.approval-button {
	display: inline-block;
	padding: 5px 10px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 5px;
}

.reject-button {
	display: inline-block;
	padding: 5px 10px;
	background-color: #dc3545;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 300px;
}

.container {
  min-height: 100vh;
  position: relative;
}

.paging {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 500px;
  text-decoration: none;
}
.paging a:hover {
	font-weight: bold;
}